// Customs style
.label-new,
.btn-new {
    background-color: $brand-new;
}

.label {
    margin: {
        left: 1px;
        right: 1px;
    }
}

// style seem like messenger
.ticket {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
    .col-md {
        &-8 {
            background-color: $brand-primary;
            color: white;
            border-radius: 20px;
            margin-left: 20px;
            position: relative;
            padding: {
                top: 10px;
                bottom: 10px;
            }
            &:after {
                position: absolute;
                content: "";
                top: -2px;
                right: -5px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid $brand-primary;
                transform: rotate(225deg);
            }
        }
        &-4 {
            padding-left: 20px;
            p {
                margin-bottom: -6px;
            }
            small {
                color: $brand-info;
                display: block;
            }
        }
    }
    &-inverse {
        text-align: right;
        .col-md {
            &-4 {
                order: 1;
                -webkit-order: 1;
                padding: {
                    left: 0px;
                    right: 20px;
                }
            }
            &-8 {
                order: 2;
                -webkit-order: 2;
                background-color: $body-bg;
                color: $text-color;
                margin: {
                    left: 0px;
                    right: 20px;
                }
                &:after {
                    right: auto;
                    left: -5px;
                    border-left-color: $body-bg;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}